################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pharmacy_Management_Application/Pharmacy_managementDB.mdf
